<div class="container">
  <h1>Welcome to Powells Seafood</h1>
  <p>Here you will find some of the world freshest sea fare. We encourage you to sign up for an account with us.<br> <small>note:You must be a user to leave product reviews.</small></p>
</div>

<div class="container">
  <%= image_tag ("alaska.jpg")%>
</div>
